@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fs_xsmall: clamp(0.5rem, calc(1.5vw + 0.5rem), 1rem);
  --fs_small: clamp(1.2rem, calc(1.5vw + 1rem), 2rem);
  --fs_medium: clamp(2rem, calc(1.5vw + 1rem), 3.5rem);
  --fs_large: clamp(3rem, calc(1.5vw + 3rem), 4rem);
  --fs_xlarge: clamp(4rem, calc(9vw + 1rem), 10rem);

  --col_black: black;
  --col_white: white;
  --marg_site: 5vw;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  font-family: "poppins", sans-serif;
  font-size: var(--fs_small);
}

.main {
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.images-container {
  position: absolute;
  left: var(--marg_site);
}

.image-container {
  position: absolute;
  height: 100vh;
  width: 30vw;
  transition: 1s ease-out;
}

.mic_container {
  position: relative;
  left: 0;
  right: 0;
  top: 10%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* Need a specific value to work */
}

.circle {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
}

.mic {
  top: 25%;
  overflow: hidden;
  width: 75px;
  height: 100px;
  margin: auto;
}

.popover {
  bottom: 0;
  font-size: var(--fs_xsmall);
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px 25px;
  margin: auto;
  max-width: 200px;
  text-align: center;
  width: fit-content;
}
